{% extends 'base.html' %}

{% block title %}
    Crear base de datos
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1 class="h3 text-center">Crear base de datos</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


    <form action="/guardar" method="post">
        <div class="mb-3">
            

            <label for="localhost">IP</label>
            <div class="mb-3">  <input type="text" name="ip" value="localhost"><br/>    </div>


            <label for="usuario">Usuario</label>
            <div class="mb-3">  <input type="text" name="user" value="root"><br/>    </div>

            <label for="contraseña">Contraseña</label>
            <div class="mb-3">  <input type="text" name="pass"><br/>    </div>

            <label for="namedb">Nombre de la base de datos que creara</label>
            <div class="mb-3">  <input type="text" name="namedb"><br/>    </div>
        </div>

        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-secondary" href="/">Volver al listado de bases de datos</a>
    </form>




</div>
{% endblock %}
    